

.mssageContainer {
    float: right;
    display: block;
    padding: 20px
}

.messageContainer {
    position: fixed;
    width: 25%;
    top: 25%;
    right: 3%;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    border-radius: 3px;
    padding: 15px
}

.message {
    padding: 8px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 15px;
}

.timebars {
    width: 70%;
    margin-right: 30%;
    display: inline-block
}
.slot {
    padding: 10px;
    float: left;
    width: 100%
}
.bar {
    height: 10px;
    width: 95%;
    border: 2px solid silver;
}

.fill {
    height: 6px;
    background-color: salmon
}

#messageBox {
    height: 400px;
    overflow: auto;
}

.message-button {
  color: salmon;
  background-color: white;
  border: 2px solid salmon;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  top: 400px
}

.message-button:hover {
  color: white;
  background-color: salmon;
  transition: 0.5s
}

.message-input {
  color: black;
  background-color: white;
  border: 2px solid silver;
  padding: 10px;
  border-radius: 5px;
  margin-left:10;
  margin-bottom: 30px;
  position: relative;
  top: 400px
}

.message-input:focus {
    border: 2px solid salmon;
    outline: none
}

.link {
    padding-left: 20px;
    padding-bottom: 20px
}

.timebars span{
    width: 33%
}
