

.messageContainer {
    float: right;
    display: block;
    padding: 20px
}

.message {
    padding: 8px;
    width: 250px;
    border: 1px solid grey;
    border-radius: 15px
}

.bar {
    height: 10px;
    width: 400px;
    border: 2px solid black;
}

.fill {
    height: 6px
}